* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
.prettierignore text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.svg text eol=lf
*.sql text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
*.dll binary
*.icns binary
*.ico binary
*.onnx binary
*.png binary
src-tauri/resources/models/siglip2-base-patch16-224/model_int8.onnx filter=lfs diff=lfs merge=lfs -text
